*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(images/watch.webp) no-repeat center center/cover;
    /* object-fit: cover; */

}
 
.container{
    margin: 0;
    max-width: 1140px;
}

img{
    width: 100%;
    display: block;
}

.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}


.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.66%;
}


.col-6{
    width: 50%;
}


.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.32%;
}

.col-11{
    width: 91.65%;
}

.col-12{
    width: 100%;
}
 
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
   display: inline-block; 
}
/* ======================================== */
.card{
    text-align: center;
    margin: 300px; 
}
/* 
.card .container{
    display: flex;
    flex-wrap: wrap;
} */

.card  .card-item h2{
    padding-bottom: 10px;
    font-size: 30px;
    

}

.card .card-item .card-img{
    height: 277.92px;
   /* background-color:goldenrod; */
    /* display: inline-block; */
    margin: 20px 16px;
    border-radius: 20px;
   overflow: hidden;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card .card-item .card-img img{
    height: 100%;
    object-fit: cover;
    /* object-position: t; */
}

.card .card-item{
   background-color:goldenrod;
    /* display: inline-block; */
    margin: 20px 16px;
    border-radius: 25px;
   overflow: hidden;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card .card-item p{
    padding-bottom: 16px;
}

.card-item span{
    padding-bottom: 16px;
    font-size: 20px;
}


.card .card-item .fill-rating{
    color: yellow;
    padding-bottom: 20px;
}


.card .card-item .blank-rating{
    color: black;
}

.card .card-item a{
    display: block;
    background-color: orangered;
    /* padding-top: 20px; */
    font-size: 25px;
    color: black;
}