* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    
}
.video{
  position: absolute;
  z-index: -1;
  width: 100%;
}
img{
    display: block;
    width: 100%;
}

.a1{
    font-weight: 400;
    font-size: 50px;
    color: red;
    text-decoration: none;
    margin: 0 550px;
    display: inline-block;
    margin-top: 40px;
    font-family: sans-serif;
}

.a1:hover {
    background-color: white;
    border-radius: 10px;
}

.a2{
    font-weight: 400;
    color: white;
    word-spacing: 10px;
    padding: 10px;
    margin: 0 20px;
    font-size: 23px;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    width: 260px;
    
    
}
::-webkit-scrollbar-thumb{
    background: white;
}
.a2:hover{
    background-color:lightgray ;
    color: black;
    border-radius: 10px;
}
hr{
    width: 260px;
    margin: 20px;
}

p{
    color: white;
    padding: 10px;
    margin: 0 20px;
    font-size: 23px;
    display: inline-block;
    font-family: sans-serif;

}
