*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box1{
    height: 400px;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -200px;
}

.box2{
    height: 300px;
    background-image: url(../img/bg2.png);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center -200px;
    background-attachment: fixed;
}

.box3{
    height: 300px;
    background-image: url(../img/bg3.png);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center -200px;
}

.box{
    height: 300px;
    width: 300px;
     margin: 50px 700px;
}

.box11{
    background: linear-gradient(135deg ,red ,blue , yellow ,pink);
    
}

.box12{
    /* width: 700px; */
    background: radial-gradient(ellipse at center, red ,blue , yellow ,pink);
    
}


.box13{
    background: conic-gradient(red ,blue , yellow ,pink , red);
   
}

.box14{
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(120, 26, 65, 0.57) 91%), 
    url(../img/tiger.png);
    background-size: cover;
    background-position: center;
}