
/* xl 1399 - 1200 */
@media  (max-width:1399px) {
    .container{
        max-width: 1140px;
    }

    header .container{
        max-width: 100%;
    }
    main .container{
        max-width: 100%;
    }
    footer .container{
        max-width: 100%;
    }

    .reservation .container{
        max-width: 100%;
    }
}
/* lg 1199 -992 */
@media (max-width:1199px){
    .container{
        max-width: 960px;
    }
}

/* md */
@media (max-width:991px){
    .container{
        max-width: 720px;
    }

    header {
        background-color: var(--darkblue);
        padding: 45px;
    }

    header nav{
        display: none !important;
    }

    header nav + div.menu-icon{
        display: block !important;
    } 



    main .main-content{
        padding-top: 50px;
      text-align: center;
    }

    main .main-content p{
        width: 90%;
        padding-left: 14%;
    }

    main .main-img{
        padding: 95px;
    }

    .col-md-12{
        width: 100%;
    }
    
    .col-md-6{
        width: 50%;

    }


    footer .container{
        padding-left: 50px;
       
    }
}

/* sm */
@media (max-width:767px){
    .container{
        max-width: 540px;
    }

    .col-sm-12{
        width: 100%;
    }

    .reservation .reservation-video{
        height: 450px;
    }

    main .container{
        max-width: 100%;
    }

    footer .container{
        padding-left: 100px;
       max-width: 100%;
    }


}
/* xs */
@media (max-width:575px){
    .container{
        max-width: 100%;
    }

    .col-xs-12{
        width: 100%;
    }

}